<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Yalla notlob</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/friends">Freinds</a></li>
      <li><a href="/groups">Groups</a></li>
      <li><a href="/orders">Orders</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">      
      <% if user_signed_in? %>
      <li><a href="/">Hello:<%= current_user.name%></a></li>
       <li><a href="welcome/notify"><span class="notify glyphicon glyphicon-globe" style="font-size:28px;color:white;"></span></a></li>
       <li class="round-image-100"><%= link_to image_tag(current_user.image.url(:small)), current_user.image.url %></li>
      <li><a  data-method="delete" href="/users/sign_out"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      <% else %>
      <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <% end %>
    </ul>
  </div>
</nav>

