<!-- <nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">blog</a>
      <a  href="/comments"> comments</a>
      <a href="/users/sign_out">sing out </a>
    </div>
  </div>
</nav> -->


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">blog</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/posts">Home</a></li>
      <li><a href="/comments">comments</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <% if not current_user %>
      <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <% else %>
      <li><a href="/users/sign_out"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      <% end %>
     <% if user_signed_in? %>
  <li>
  <span class="glyphicon glyphicon-log-out"></span><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <span class="glyphicon glyphicon-log-out"></span><%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %> 
    </ul>
  </div>
</nav>

